$smaller: 480px;
$medium: 768px;
$large: 1024px;

@mixin for-greater-than-smaller {
  @media (min-width: $smaller) {
    @content;
  }
}

@mixin for-greater-than-medium {
  @media (min-width: $medium) {
    @content;
  }
}

.skills {
  padding: 10rem 0rem;
  .container {
    position: relative;
    height: 100%;
    padding: 0rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @include for-greater-than-medium() {
      padding: 4rem 2rem;
    }

    .titles {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      h2 {
        text-align: center;
        font-weight: 500;
        font-size: 5rem;
        color: white;
      }

      h3 {
        text-align: center;
        font-weight: 500;
        font-size: 1.5rem;
        color: #fa571f;
        text-transform: uppercase;
      }
    }

    .skills-list {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      gap: 2rem;

      li {
        position: relative;
        .image-container {
          width: 100%;
          position: relative;

          > div {
            position: unset !important;
          }

          .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
            filter: brightness(0) invert(1);
            transition: filter 0.3s ease;

            &:hover {
              filter: grayscale(0%);
            }
          }
        }
      }
    }
  }
}
